<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estimate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!-- {{customer | json}} -->
  <!--customer details-->
  <ion-row>
    <ion-col size-xs="6">
      <ion-input label="Name" labelPlacement="stacked" [(ngModel)]="customer.name"
        placeholder="Customer name"></ion-input>
    </ion-col>
    <ion-col size-xs="6">
      <ion-input label="Phone" labelPlacement="stacked" type="tel" [(ngModel)]="customer.phone"
        placeholder="phone"></ion-input>
    </ion-col>
  </ion-row>

  <!--items start-->
  <ion-accordion-group>
    <ion-accordion value="{{item_ctr}}" *ngFor="let item of customer._items;let item_ctr = index">
      <ion-item slot="header" color="light">
        <ion-label>{{item_ctr+1}}. Item</ion-label>
      </ion-item>
      <div class="ion-padding items-content" slot="content">
        <!--3d start-->
        <ion-accordion-group>
          <ion-accordion value="{{_3d_ctr}}" *ngFor="let _3d of item._3d_arr;let _3d_ctr = index">
            <ion-item slot="header" color="light">
              <ion-label>{{ (_3d_ctr+1) + "." + (_3d.name?_3d.name:"")}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-row>
                <ion-col size-xs="6">
                  <ion-input type="text" [(ngModel)]="_3d.name" labelPlacement="stacked"
                    placeholder="locker"></ion-input>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-list>
                    <ion-item>
                      <ion-select aria-label="Dimension" value="feet" [(ngModel)]="_3d.dimension">
                        <ion-select-option value="ft">ft</ion-select-option>
                        <ion-select-option value="in">in</ion-select-option>
                        <ion-select-option value="cm">cm</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col size-xs="4"><ion-input label="X" labelPlacement="stacked" type="number" [(ngModel)]="_3d.x"
                    placeholder="10"></ion-input></ion-col>
                <ion-col size-xs="4"><ion-input label="Y" labelPlacement="stacked" type="number" [(ngModel)]="_3d.y"
                    placeholder="20"></ion-input></ion-col>
                <ion-col size-xs="4"><ion-input label="Z" labelPlacement="stacked" type="number" [(ngModel)]="_3d.z"
                    placeholder="30"></ion-input></ion-col>

              </ion-row>
              <ion-row>
                <ion-col size-xs="4.5">
                  <ion-input type="text" readonly="true" value="sq.{{_3d.dimension}}: {{_3d.area}}"></ion-input>
                </ion-col>
                <ion-col size-xs="3">
                  <ion-list>
                    <ion-item>
                      <ion-select aria-label="Dimension" [(ngModel)]="_3d.conversion_dimension" value="ft"
                        (ionChange)="convert_3d_dimension(_3d)">
                        <ion-select-option value="ft">ft</ion-select-option>
                        <ion-select-option value="in">in</ion-select-option>
                        <ion-select-option value="cm">cm</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size-xs="4.5">
                  <ion-input type="text" readonly="true" value="{{_3d.converted_label}}"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="2" (click)="calculate_3d(_3d)">
                  <ion-item class="b-r ion-no-padding ion-activatable" color="success">
                    <ion-icon name="calculator"></ion-icon>
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  </ion-item>
                </ion-col>

                <ion-col size-xs="2" (click)="refresh_3d(item._3d_arr,_3d_ctr)">
                  <ion-item class="b-r ion-no-padding ion-activatable" color="primary">
                    <ion-icon name="refresh"></ion-icon>
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  </ion-item>
                </ion-col>

                <ion-col size-xs="2" (click)="delete_3d(item._3d_arr,_3d_ctr)">
                  <ion-item class="b-r ion-no-padding ion-activatable" color="danger">
                    <ion-icon name="trash"></ion-icon>
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  </ion-item>
                </ion-col>

              </ion-row>

            </div>
          </ion-accordion>
        </ion-accordion-group>
        <!--3d end-->
        <!--2d start-->
        <ion-accordion-group>
          <ion-accordion value="{{_2d_ctr}}" *ngFor="let _2d of item._2d_arr;let _2d_ctr = index">
            <ion-item slot="header" color="light">
              <ion-label>{{_2d_ctr+1}}.</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">

              <!-- _2d object name-->
              <ion-row>
                <ion-col size-xs="12">
                  <ion-input label="Bed, Dining" labelPlacement="stacked" type="text"
                    [(ngModel)]="_2d.material_name"></ion-input>
                </ion-col>
              </ion-row>

              <!-- _2d area input -->
              <ion-list>
                <ion-item-sliding *ngFor="let _1d of _2d._1d_arr;let _1d_ctr = index">
                  <ion-item [button]="false">
                    <ion-col size-xs="3">
                      <ion-input label="Position" labelPlacement="stacked" [(ngModel)]="_1d.label"
                        placeholder="top"></ion-input>
                    </ion-col>
                    <ion-col size-xs="2.5">
                      <ion-input label="X" labelPlacement="stacked" type="number" [(ngModel)]="_1d.x"
                        placeholder="5"></ion-input>
                    </ion-col>
                    <ion-col size-xs="2.5">
                      <ion-input label="Y" labelPlacement="stacked" type="number" [(ngModel)]="_1d.y"
                        placeholder="10"></ion-input>
                    </ion-col>
                    <ion-col size-xs="2" (click)="calculate_1d(_1d)">
                      <ion-item class="b-r ion-no-padding" color="primary">
                        <ion-icon name="calculator"></ion-icon>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xs="2">
                      <ion-label>{{_1d.area}}</ion-label>
                    </ion-col>
                  </ion-item>

                  <ion-item-options slot="end" size-xs="4">
                    <ion-item-option color="danger" expandable="true">
                      <ion-icon class="delete-row" slot="icon-only" name="trash"
                        (click)="delete_1d_index(_2d._1d_arr,_1d_ctr)"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>

              <!--_2d area actions-->
              <ion-row>
                <ion-col size-xs="2" (click)="add_1d_index(_2d._1d_arr)">
                  <ion-item class="b-r ion-no-padding" color="success">
                    <ion-icon name="add"></ion-icon>
                  </ion-item>
                </ion-col>

                <ion-col size-xs="2" (click)="calculate2dDimensions(_2d,item._2d_arr)">
                  <ion-item class="b-r ion-no-padding" color="primary">
                    <ion-icon name='calculator'></ion-icon>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="2" (click)="delete_2d_item(item._2d_arr,_2d_ctr)">
                  <ion-item class="b-r ion-no-padding" color="danger">
                    <ion-icon name='trash'></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>

              <!--_2d area dimensions label-->
              <ion-row>
                <ion-col size-xs="4.5">
                  <ion-input type="text" readonly="true" [value]="_2d.area_label"></ion-input>
                </ion-col>
                <ion-col size-xs="3">
                  <ion-list>
                    <ion-item>
                      <ion-select aria-label="Dimension" [(ngModel)]="_2d.conversion_dimension" value="ft"
                        (ionChange)="convert_2d_dimension(_2d)">
                        <ion-select-option value="ft">ft</ion-select-option>
                        <ion-select-option value="in">in</ion-select-option>
                        <ion-select-option value="cm">cm</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size-xs="4.5">
                  <ion-input type="text" readonly="true" [value]="_2d.converted_label"></ion-input>
                </ion-col>
              </ion-row>

              <ion-row>



              </ion-row>

            </div>
          </ion-accordion>
        </ion-accordion-group>
        <!--2d end-->

        <ion-row>
          <ion-col size-xs="4" (click)="add3dItem(customer._items,item_ctr)">
            <ion-item class="b-r ion-no-padding ion-activatable " color="success">
              <ion-icon name="add"></ion-icon>
              <ion-label class="icon-label">3d</ion-label>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item>
          </ion-col>
          <ion-col size-xs="4" (click)="add2dItem(customer._items,item_ctr)">
            <ion-item class="b-r ion-no-padding ion-activatable " color="primary">
              <ion-icon name="add"></ion-icon>
              <ion-label class="icon-label">2d</ion-label>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item>
          </ion-col>

          <ion-col size-xs="4" (click)="deleteItem(customer._items,item_ctr)">
            <ion-item class="b-r ion-no-padding ion-activatable " color="danger">
              <ion-icon name="trash"></ion-icon>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!--item end-->
  <!-- add item start-->
  <ion-row>
    <ion-col size-xs="4" (click)="addItem()">
      <ion-item class="b-r ion-no-padding ion-activatable " color="warning">
        <ion-icon name="add"></ion-icon>
        <ion-label class="icon-label">Item</ion-label>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- add item end -->

  <!--date start-->
  <ion-accordion-group>
    <ion-accordion value="Dates">
      <ion-item slot="header" color="light">
        <ion-label>Dates : {{customer.start_date | date : "dd-MMM-y HH:mm a"}} --- {{customer.end_date| date : "dd-MMM-y
          HH:mm a"}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-row>
          <ion-col size-xs="3"> <ion-label position="stacked">Start Date</ion-label>
          </ion-col>
          <ion-col>
            <ion-datetime-button datetime="startDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="startDate" [(ngModel)]="customer.start_date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="3"> <ion-label>End Date</ion-label></ion-col>
          <ion-col>
            <ion-datetime-button datetime="endDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="endDate" [(ngModel)]="customer.end_date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <!--date end-->

  <!--price start-->
  <ion-accordion-group>
    <ion-accordion value="Price">
      <ion-item slot="header" color="light">
        <ion-label>Price : {{customer.price}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-row>
          <ion-col size-xs="3">
            <ion-input label="Area" readonly="true" labelPlacement="stacked" [(ngModel)]="customer.area"
              placeholder="area"></ion-input>
          </ion-col>
          <ion-col size-xs="3">
            <ion-input label="Area Price" labelPlacement="stacked" [(ngModel)]="customer.area_price"
              placeholder="price"></ion-input>
          </ion-col>
          <ion-col size-xs="3">
            <ion-input label="Price" readonly="true" labelPlacement="stacked" [(ngModel)]="customer.price"
              placeholder="price"></ion-input>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <!--price end-->

  <!--save start-->
  <ion-row>

    <ion-col id="open-toast" size-xs="4" (click)="save()">
      <ion-item class="b-r ion-no-padding ion-activatable " color="success">
        <ion-icon size="large" name="save"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-col>
    <ion-col size-xs="4">
      <ion-item class="b-r ion-no-padding ion-activatable " (click)="completeAreaCalculate()" color="primary">
        <ion-icon size="large" name="calculator"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-col>
    <ion-col size-xs="4" (click)="delete()">
      <ion-item class="b-r ion-no-padding ion-activatable " color="danger">
        <ion-icon size="large" name="trash"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-col>
  </ion-row>
  <!--save end-->




</ion-content>