ion-menu-button {
  color: var(--ion-color-primary);
}


._2rem {
  font-size: 2rem;
}

.b-r {
  --border-radius: 14px;
}

ion-icon {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

ion-icon.delete-row {
  position: relative;

}

.items-content {
  background: #d1f3ff;
  padding: 5px 5px;
}

.icon-label {
  padding-left: 13%;
  font-weight: bold;
}