<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Customer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size-xs="6">
            <ion-input label="Input" labelPlacement="stacked"  placeholder="Mobile"
                (ionChange)="convert()"></ion-input>
        </ion-col>
        <ion-col size-xs="6" (click)="convert()">
            <ion-button size="large">
                Search
                <ion-icon slot="end" name="Search"></ion-icon>
              </ion-button>
            <!-- <ion-item class="b-r  ion-activatable " color="success">
                <ion-icon slot="center" size="large" name="Search"></ion-icon>
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item> -->
        </ion-col>

        <ion-col size-xs="6">
            <ion-list>
                <ion-item class="ion-no-padding">
                    <ion-select aria-label="Dimension" [(ngModel)]="source_unit" value="ft" (ionChange)="convert()">
                        <ion-select-option value="ft">ft</ion-select-option>
                        <ion-select-option value="in">in</ion-select-option>
                        <ion-select-option value="cm">cm</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size-xs="6">
            <ion-list>
                <ion-item class="ion-no-padding">
                    <ion-select aria-label="Dimension" [(ngModel)]="destination_unit" value="ft"
                        (ionChange)="convert()">
                        <ion-select-option value="ft">ft</ion-select-option>
                        <ion-select-option value="in">in</ion-select-option>
                        <ion-select-option value="cm">cm</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>


    <ion-row>

        <ion-col size-xs="4" (click)="convert()">
            <ion-item class="b-r ion-no-padding ion-activatable " color="success">
                <ion-icon size="large" name="refresh"></ion-icon>
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item>
        </ion-col>

    </ion-row>

    <ion-item-divider>
        <ion-label> Download </ion-label>
      </ion-item-divider>

    <ion-row>

        <ion-col size-xs="6" (click)="downloadApk()">
            <ion-item class="b-r ion-no-padding ion-activatable " color="warning">
                <ion-icon size="large" name="logo-android"></ion-icon>
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item>
        </ion-col>

    </ion-row>


    
</ion-content>